# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
next/.DS_Store
next/*.pem

# debug
next/npm-debug.log*
next/yarn-debug.log*
next/yarn-error.log*

# local env files
next/.env*.local

# vercel
next/.vercel

# typescript
next/*.tsbuildinfo
next/next-env.d.ts