/* components/ProductDetails.module.css */

.productDetails {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #343a40;
  color: #fff;
  border-color: #343a40;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productImage img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.productName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 18px;
  font-weight: bold;
}

.priceLabel {
  margin-right: 5px;
}

/* Style pour la catégorie */
.productCategories {
  font-size: 14px;
  margin-bottom: 10px;
}

.categoryLabel {
  font-weight: bold;
  margin-right: 5px;
}

.category {
  display: inline-block;
  background-color: #8e67cc;
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.addToCartButton {
  background-color: #543d79;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addToCartButton:hover {
  background-color: #8e67cc;
}
