
.productDetails {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #343a4054;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productImage img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.productName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.productPrice {
  width: 130px;
  padding: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  background-color: #8e67cc;
  border-radius: 5px;

}

.priceLabel {
  margin-right: 5px;
}

/* Style pour la catégorie */
.productCategories {
  font-size: 14px;
  margin-bottom: 10px;
}

.categoryLabel {
  font-weight: bold;
  margin-right: 5px;
}

.category {
  display: inline-block;
  background-color:#543d79;
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.addToCartButton {
  background-color: #543d79;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addToCartButton:hover {
  background-color: #8e67cc;
}

.holographicEffect {
  position: relative;
  overflow: hidden;
  box-shadow: 
    0 0 20px rgba(255, 1, 1, 0.678),
    0 0 50px rgba(0, 255, 0, 0.644),
    0 0 100px rgba(0, 238, 255, 0.733);
  animation: holographicAnimationRGB 1s infinite ease-in-out;
}

/* Animation du scintillement */
@keyframes holographicAnimationRGB {
  0% {
    box-shadow: 
      0 0 20px rgba(255, 1, 1, 0.678),
      0 0 50px rgba(0, 255, 0, 0.644),
      0 0 100px rgba(0, 238, 255, 0.733);
  }
  16.666% {
    box-shadow: 
      0 0 20px rgba(255, 1, 1, 0.678),
      0 0 50px rgba(0, 255, 0, 0.644),
      0 0 100px rgba(0, 238, 255, 0.733),
      0 0 150px rgba(255, 255, 0, 0.7);
  }
  33.333% {
    box-shadow: 
      0 0 20px rgba(0, 238, 255, 0.733),
      0 0 50px rgba(255, 1, 1, 0.678),
      0 0 100px rgba(0, 255, 0, 0.644),
      0 0 150px rgba(255, 255, 0, 0.7);
  }
  50% {
    box-shadow: 
      0 0 20px rgba(0, 255, 0, 0.644),
      0 0 50px rgba(0, 238, 255, 0.733),
      0 0 100px rgba(255, 1, 1, 0.678),
      0 0 150px rgba(255, 255, 0, 0.7);
  }
  66.666% {
    box-shadow: 
      0 0 20px rgba(255, 1, 1, 0.678),
      0 0 50px rgba(0, 255, 0, 0.644),
      0 0 100px rgba(0, 238, 255, 0.733),
      0 0 150px rgba(255, 255, 0, 0.7);
  }
  83.333% {
    box-shadow: 
      0 0 20px rgba(0, 238, 255, 0.733),
      0 0 50px rgba(255, 1, 1, 0.678),
      0 0 100px rgba(0, 255, 0, 0.644),
      0 0 150px rgba(255, 255, 0, 0.7);
  }
  100% {
    box-shadow: 
      0 0 20px rgba(255, 1, 1, 0.678),
      0 0 50px rgba(0, 255, 0, 0.644),
      0 0 100px rgba(0, 238, 255, 0.733);
  }
}



